
.post-container{
  display: flex;
  justify-content: center;
  gap: 5em;
  
  .post{
    width: 100%;

    h2, h3{
      padding: 0 10px;
      border-radius: 10px;
      border-bottom: 1px solid #dee2e6;
    }
    h2{
      margin-top: 50px;
    }

  }
}

.toc{
  @media(max-width: 1000px){
    display: none;
  }

  h2{
    margin:0;
    border-bottom: 1px solid #dee2e6;
    padding-left : 10px;
  }

  div {
    padding-top : 10px;
    top:50px;
    position: sticky;
    right: 0px;
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.7rem;
  
    // display: none;
    // @media (min-width: 75em){
    //   width: 240px;
    //   display: block;
    // }
    // @media (min-width: 85em){
    //   width: 300px;
    //   display: block;
    // }
    // @media (min-width: 95em){
    //   width: 360px;
    //   display: block;
    // }
  
    a.toc-active {
      font-weight: bold; 
      transition: all 0.125s ease-in 0s; 
      font-size: 0.75rem;
      color: red;
    }
  
    ul {
      list-style-type: none;
      margin-bottom: 0.1rem;
      padding-left: 0rem;
      li {
        padding-left: .5rem;
      }
    }
  
    a {
        text-decoration: none;
    }
   
    a:hover {
      color:black;
    }
  }
}